<div>
   <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Drone Hub</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="admin-home" class="nav-link">Home</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Requests
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a routerLink="accounts" class="nav-link">Accounts</a></li>
          <li><a routerLink="add-posts" class="nav-link">Adds & Posts</a></li>
          <li><a routerLink="blogs" class="nav-link">Blogs</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a routerLink="admin-profile" class="nav-link">Your Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="post" class="nav-link">Posts</a>
      </li>
      <li class="nav-item">
        <a routerLink="register" class="nav-link">Register</a>
      </li>
    </div>
  </nav> 

  <div class="container mt-3">
    <h2>{{ title }}</h2>
     <router-outlet></router-outlet>
  </div> 
</div>